# Python Stuff
.ipynb_checkpoints
__pycache__
.python-version

# Outputs
**/*.png
**/*.gif
runs

# Miscellaneous
**/.DS_Store
/Natsiou_Model/PyTorch/nsynth-train/
/Natsiou_Model/PyTorch/data/

# LaTeX
**/*.aux
**/*.bst
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.synctex.gz
!**/out/*.pdf