# Python
.ipynb_checkpoints
__pycache__
.python-version

# Data
data/

# Outputs
runs

# Miscellaneous
**/.DS_Store

# LaTeX
**/*.aux
**/*.bst
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.synctex.gz
!**/out/*.pdf